@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
    --cor-do-background: #332b66;
    --cor-do-cabecalho: #c9b9f5;
    --cor-do-texto: #fff;
    --fonte: 'Space Mono', monospace;
}

body {
    background-color: var(--cor-do-background);
    color: var(--cor-do-texto);
    font-family: var(--fonte);
}

.cabecalho {
    position: relative;
    background-color: var(--cor-do-cabecalho);
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.circulo {
    margin: 0.438em 0.188em 0.313em 0.938em;
    height: 1.563em;
}

.triangulo {
    margin: 0em 0.188em 0.438em 0em;
    height: 1.188em;
}

.retangulo {
    height: 1em;
    padding: 0.313em;
}

.grupoTres {
    margin-right: 0.938em;
}

.estrelinhas {
    height: 1.25em;
}

.conteudo {
    display: grid;
    grid-template-columns: 47% 50%;
}

.conteudo_star {
    margin: 10em 1em 0em 18em;
    height: 17em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-texto {
    margin: 8em 13em 0em 0.938em;
    text-align: center;
}

@media (max-width: 1243px) {
    .conteudo {
        display: flex;

        flex-direction:column;
        width: 100%;
    }

    .conteudo_star {
        margin: 9em 0 2em 0;
    }

    .conteudo-texto {
        margin: 9em 10em 2em 10em;
    }
}

@media (max-width: 659px) {
    .cabecalho {
        height: 3em;
    }

    .retangulo {
        display: none;
    }

    .conteudo-texto {
        margin: 9em 2em 2em 2em;
    }
}